@import 'mixins', 'variables';

//clearfix
.clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// display
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.show {display: block;}
.hide {display: none;}
.inline {@include inline;}
.invisible {visibility: none;}

// dropdown
ul.dropdown-menu {display: none; position: absolute; left: 0;}
ul.dropdown-menu.push-left {left: 0;}
ul.dropdown-menu.push-right {right: 0; left: auto !important;}
ul.dropdown {list-style: none; padding: 0; display: block;}
ul.dropdown > li, li.dropdown {
  display: block; position: relative;
  &:hover > ul.dropdown-menu {display: block;}
}

// floats
.pull-left {float: left;}
.pull-right {float: right;}
.pull-none  {float: none !important;}

// font-size
.h1 {font-size: $font-size-h1;}
.h2 {font-size: $font-size-h2;}
.h3 {font-size: $font-size-h3;}
.h4 {font-size: $font-size-h4;}
.h5 {font-size: $font-size-h5;}

// margins
.nm {margin: 0px;}
.nmt {margin-top: 0px;}
.nmb {margin-bottom: 0px;}
.nml {margin-left: 0px;}
.nmr {margin-right: 0px;}

.m5 {margin: 5px;}
.m10 {margin: 10px;}
.m15 {margin: 15px;}
.m20 {margin: 20px;}
.m25 {margin: 25px;}
.m30 {margin: 30px;}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt25 {margin-top: 25px;}
.mt30 {margin-top: 30px;}

.mb5 {margin-bottom: 5px;}
.mb10 {margin-bottom: 10px;}
.mb15 {margin-bottom: 15px;}
.mb20 {margin-bottom: 20px;}
.mb25 {margin-bottom: 25px;}
.mb30 {margin-bottom: 30px;}

.mr5 {margin-right: 5px;}
.mr10 {margin-right: 10px;}
.mr15 {margin-right: 15px;}
.mr20 {margin-right: 20px;}
.mr25 {margin-right: 25px;}
.mr30 {margin-right: 30px;}

.ml5 {margin-left: 5px;}
.ml10 {margin-left: 10px;}
.ml15 {margin-left: 15px;}
.ml20 {margin-left: 20px;}
.ml25 {margin-left: 25px;}
.ml30 {margin-left: 30px;}

// paddings
.np {padding: 0px;}
.npt {padding-top: 0px;}
.npb {padding-bottom: 0px;}
.npl {padding-left: 0px;}
.npr {padding-right: 0px;}

.p5 {padding: 5px;}
.p10 {padding: 10px;}
.p15 {padding: 15px;}
.p20 {padding: 20px;}
.p25 {padding: 25px;}
.p30 {padding: 30px;}

.pt5 {padding-top: 5px;}
.pt10 {padding-top: 10px;}
.pt15 {padding-top: 15px;}
.pt20 {padding-top: 20px;}
.pt25 {padding-top: 25px;}
.pt30 {padding-top: 30px;}

.pb5 {padding-bottom: 5px;}
.pb10 {padding-bottom: 10px;}
.pb15 {padding-bottom: 15px;}
.pb20 {padding-bottom: 20px;}
.pb25 {padding-bottom: 25px;}
.pb30 {padding-bottom: 30px;}

.pr5 {padding-right: 5px;}
.pr10 {padding-right: 10px;}
.pr15 {padding-right: 15px;}
.pr20 {padding-right: 20px;}
.pr25 {padding-right: 25px;}
.pr30 {padding-right: 30px;}

.pl5 {padding-left: 5px;}
.pl10 {padding-left: 10px;}
.pl15 {padding-left: 15px;}
.pl20 {padding-left: 20px;}
.pl25 {padding-left: 25px;}
.pl30 {padding-left: 30px;}

//  text
.text-bold {font-weight: bold;}
.text-center {text-align: center;}
.text-italic {font-style: italic;}
.text-left {text-align: left;}
.text-right {text-align: right;}
.text-underline {text-decoration: underline;}
.text-strikethrough {text-decoration: line-through}

// un-ordered list
.list-unstyled {
  padding: 0px;
  list-style: none;
}
.list-inline{
  @extend .list-unstyled;
  li {@include inline;}
}
